<div id="<%= dom_id board %>">
  <p>
    <strong>History string:</strong>
    <%= board.history_string %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= board.title %>
  </p>

  <p>
    <strong>Is white:</strong>
    <%= board.is_white %>
  </p>

</div>
