<h1>Editing board</h1>

<% if user_signed_in? && @board.users.include?(current_user) %>
  <%= render "form", board: @board %>
<% else %>
  <p>You are not authorized to edit this board.</p>
<% end %>

<br>

<div>
  <%= link_to "Show this board", @board %> |
  <%= link_to "Back to boards", boards_path %>
</div>
