<div class="d-flex justify-content-center flex-column align-items-center">
  <h1>New board</h1>

  <% if user_signed_in? %>
    <%= render "form", board: @board %>
  <% else %>
    <p>You must be signed in to create a board.</p>
  <% end %>

  <br>

  <div>
    <%= link_to "Back to boards", boards_path %>
  </div>
</div>
